*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
}

body{
    background:  url("../imagens/back-phone.jpg") no-repeat center center fixed;
    background-size: cover
}

main{
    background-color: rgb(255, 255, 255, 0.8);
    width: 90vw;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}

h1{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px black;
}

img{
    display: block;
    margin: auto;
}

img#phone{display: block;}
img#tablet{display: none;}
img#print{display: none;}
img#pc{display: none;}
img#tv{display: none;}